.wrapper {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    margin-top: 100px;
}

.Game {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    position: relative;
    margin: auto;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winnerRotation {
    animation: winnerSpin 15s linear infinite;
}

@keyframes winnerSpin {
    from {transform: rotateY(360deg) rotateX(360deg)}
    to {transform: rotateY(0deg) rotateX(0deg)}
  }

