.Sheet {
    /* display: grid; */
    /* grid-template: repeat(3, auto) / repeat(3, auto);
    grid-gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    position: absolute;
    pointer-events: none;
    
}

.Game .Sheet:nth-child(1) {
    transform: translateZ(-135px);
    
  }
  
.Game .Sheet:nth-child(2) {
    transform: translateZ(-25px);
  }
  
.Game .Sheet:nth-child(3) {
    transform: translateZ(85px);
  }

